@model SimpleBlog.Models.Article
@{
    ViewBag.Title = "Simple Blog";
}

<div class="jumbotron">
    <h1>SimpleBlog</h1>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        @using (Html.BeginForm()) { 
            @Html.LabelFor(a=>a.Title)
            @Html.DisplayTextFor(a=>a.Title)
        }
    </div>
    @foreach (var item in ViewBag.List) { 
        <p>@item.Title</p>
        <p>@item.Body</p>
    }
</div>